.app {
    width: 100%;
    height: calc(100% - 70px);
}

.calendar_manage {
    border-bottom: 1px solid lightgray;
    margin-top: 20px;
    width: 100%;
    height: 730px;
    overflow: auto;

    display: flex;
    flex-direction: row;
    position: relative;
}
