.header {
    height: 70px;
    width: 100%;
    color: white;
    background-color: #93BFCF;
    text-align: center;
    line-height: 70px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    
}