.App {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "나눔";
  src: url("./fonts/NanumSquareR.ttf"); 
}

@font-face {
  font-family: "열아홉";        
  src: url("./fonts/나눔손글씨-열아홉의-반짝임.ttf"); 
}

* {
  font-family: "나눔";
}

